# App config
BASE_DIR=

# Fill with a working database solution you can trivially connect to.
# Aimed at mariaDB.
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DATABASE=

# Mailer
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
