.filter-card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:100%;height:315px;
  border-radius: 21px;
  margin-top:32px !IMPORTANT;margin-bottom:32px !IMPORTANT;margin-left:2px;margin-right:2px;
  text-decoration:none;display:block;
}

.news-card
{
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:100%;min-height:50px;padding:15px;
  border-radius: 3px;
  margin-top:4px !IMPORTANT;margin-bottom:4px !IMPORTANT;margin-left:4px;margin-right:18px;
  text-decoration:none;display:block;
	}
	.news-card:active {box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);border:1px solid #ab0520;text-decoration:none;}
	.news-card:visited {text-decoration:none;}
.filter-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);text-decoration:none;
}
.news-card:hover
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);text-decoration:none;
}

.filter-card img {
  padding:0;margin:0;width:100%;
}
.filter-card .image-holder {
	height:75%;overflow:hidden;width:100%;padding:0;margin:0;
	border-radius: 21px 21px 0 0;
}

.filter-card.large-card .image-holder {
	height:88%;overflow:hidden;width:100%;padding:0;margin:0;
	border-radius: 21px 21px 0 0;
}

.filter-card .content,.filter-card.large-card .content, .news-card .content {
  padding: 2px 16px;text-decoration:none;
}
.filter-card.large-card .content {}
.filter-card .content .text-heading, .news-card .content .text-heading {
  font-size:21px;font-weight:700;color:#222222;text-decoration:none;
}
.news-card .content .text-heading {
color:#ab0520;
}
.filter-card .content .text-heading-large {
  font-size:32px;font-weight:700px;color:#222222;
}
.filter-card .content .card-text-block-large {color:#777777;font-size:28px;margin-top:-5px;font-weight:400}
.filter-card .content .card-text-block, .news-card .content .card-text-block {text-decoration:none;color:#777777;font-size:20px;margin-top:-5px;font-weight:400}

.large-card {
	height:632px;margin-bottom:0 !IMPORTANT;
	
}
.large-adjusted {margin-bottom:-2px !IMPORTANT;height:320px !IMPORTANT;width:98% !IMPORTANT;}
.adjust-bottom-middle {margin-bottom:50px !IMPORTANT;}
.medium-card {
	height:450px !IMPORTANT;
}

.small-card {
	height:300px !IMPORTANT;
}

.small-card-adjust {height:320px !IMPORTANT;width:98% !IMPORTANT;}

.filter-card.large-adjusted .image-holder {
	height:80%;
}
.filter-card.small-card-adjust .image-holder {
	height:80%;
}

.hide-me {display:none;}