<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Proxima Nova font. -->
    <link href="https://use.typekit.net/emv3zbo.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Arizona Icons CSS -->
    <link rel="stylesheet" href="https://cdn.digital.arizona.edu/lib/az-icons/main/az-icons-styles.css">
    <!-- Arizona Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.digital.arizona.edu/lib/arizona-bootstrap/main/css/arizona-bootstrap.min.css">
    <link rel="stylesheet" href="css/bitbucket.org_uadigital_ua-bootstrap_downloads_ua-bootstrap-1.0.0-alpha4.min.css">
    <link rel="stylesheet" href="css/info-item-pages.css">
    <title>PTS | Garage Reservation</title>
</head>
<body>
<div class="bg-red p-3 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12"><span class="text-uppercase heading-style m-0 text-white">The University of Arizona</span></div>
        </div>
    </div>
</div>
<!-- red header ends here -->
{% include 'components/user_top_bar.html.twig' with { user: user } %}

<!-- the main content of the page -->
<div class="container" id="content">
    {% block content %} {% endblock %}
</div>

<!-- footer begins -->
<footer class="footer bg-warm-gray text-center">
    <div class="container py-4">
        <div class="row">
            <div class="col-12">
                <p class="m-0">Copyright &copy; {{'now' | date('Y') }} </p>
                <small class="text-black">The University of Arizona</small>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Arizona Bootstrap JS -->
{% if use_default_jquery is not defined or use_default_jquery %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.slim.min.js" integrity="sha384-w5y/xIeYixWvfM+A1cEbmHPURnvyqmVg5eVENruEdDjcyRLUSNej7512JQGspFUr" crossorigin="anonymous"></script>
<!-- Arizona Bootstrap -->
<script src="https://cdn.digital.arizona.edu/lib/arizona-bootstrap/main/js/arizona-bootstrap.bundle.min.js"></script>
<!-- other relevant jquery stuff that must be loaded after -->
{% endif %}
</body>
</html>
<!-- footer ends -->
